#format_product{
    margin-left: 175px;
    width: 700px;
    height: 100px;
    border: 1px solid black;
}
#img_format{
    border: 1px solid black;
    width: 90px;
    height: 90px;
    margin: 5px;
}
#title_format{
    margin-left: 15px;
    font-size: 30px;
    font-weight: bold;
}
#prix_format{
    margin-left: 15px;
    font-size: 20px;
}
#btn_format{
    float: right;
}