body {
  font-family: Arial, Helvetica, sans-serif;
}

/* CSS DU HEADER */
#header_color{
background-color: rgb(16, 125, 214);
}

.navbar {
background-color: rgb(16, 125, 214);
text-align: justify;
margin-bottom: 0%;
margin-left: 50px;
}

.navbar a {
float: left;
font-size: 16px;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

.dropdown {
float: left;

}

.dropdown .dropbtn {
font-size: 16px;  
border: none;
outline: none;
color: white;
padding: 14px 16px;
background-color: inherit;
font-family: inherit;
margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
background-color: rgb(31, 27, 216);
}

.dropdown-content {
display: none;
position: absolute;
background-color: #f9f9f9;
min-width: 190px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}

.dropdown-content a {
float: none;
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
text-align: left;
}

.dropdown-content a:hover {
background-color: #ddd;
}

.dropdown:hover .dropdown-content {
display: block;

}

/* CSS CONTAINER */
.container {
/* On ajoute une marge sur les cotés de l'écran */
padding-right: 15px;
padding-left: 15px;
margin-top: 15px;
margin-bottom: 15px;

/* Et on centre */
margin-right: auto;
margin-left: auto;
}

/* Sur les grands écrans, on limite la largeur du contenu */
@media (min-width: 1200px){
.container {
    width: 1170px;
}
}

#text_nav{
float: right;
margin-right: 50px;
}
.row {
margin-right: -15px;
margin-left: -15px;
}
#leftcolumn{
float: left;
width: 150px;
}
#rightcolumn{
float: left;
margin-left: 150px;
margin-top: 50px;

}
#formatProductPicture{
border: #000, solid, 2px;
}
#carrousel {
position: relative;
height: 200px;
width: 100%;
margin: auto;
}
#carrousel ul li{
position: absolute;
top: 0;
left: 0;
}

.carousel-indicators {
  position: absolute;
  bottom: -50px;
  }
.carousel-control-next {
  filter: invert(100%);
  bottom: -130%;
  right: -15%;
}
.carousel-control-prev {
  filter: invert(100%);
  bottom: -130%;
  left: -15%;
}
.carousel-indicators li{
  filter: invert(100%);
}


/* FOOTER */
.page-footer {
background-color: #222;
color: #ccc;
}