#promo{
    background-image: url('res/promo.png');
    width: 100%;
    height: 530px;
    /*border: 1px solid black;*/

    overflow-x: auto;
    overflow-x: scroll;
    overflow-y: hidden;
    }
#bottom{
    width: 100%;
    height: 500px;
    /*border: 1px solid black;*/
    //background-image: url('res/bottom.png');
}
#format_text{
  height: 50px;
}
#bloc_categorie{
  border: 1px solid black;
  width: 330px;
  height: 430px;
    margin-left: 40px; 
}
#bloc_produit{
    border: 1px solid black;
    border-radius: 10px;
    width: 250px;
    height: 370px;

    background-color: white;
}
#bloc_produit:hover{
    background-color: #ccc;
    font-weight: bold;
    font-size: 14px;
}
#img_product{
    width: 240px;
    height: 240px;
    margin: 5px;
}
#format_title{
    font-size: 20px;
    margin-left: 10px;
    width: 150px;
    /* Nécessaires pour text-overflow */
  /* white-space: nowrap; */
  overflow: hidden;
}
.overflow-visible {
    white-space: initial;
  }
  
  .overflow-clip {
    text-overflow: clip;
  }
  
  .overflow-ellipsis {
    text-overflow: ellipsis;
  }
  
  .overflow-string {
    /* Cette forme n'est pas prise en charge
      par la plupart des navigateurs. cf. la 
      section Compatibilité ci-après */
    text-overflow: " [..]"; 
  }
#format_promo{
    float: right;
    font-weight: bold;
    color: white;
    background-color: red;
}
#format_promo:hover{
    background-color: black;
}
#format_bestseller{
    font-weight: bold;
    color: white;
    width: 120px;
    background-color: red;
    border: 1px solid black;
}
#format_desc{
    margin-left: 5px;
}
#format_taux{
    font-weight: bold;
}
#format_categorie{
  text-align: center;
  color: black;
}
#format_categorie a{
  text-align: center;
  color: black;
  font-weight: bold;
}
#best{
  font-family: impact, fantasy;
  font-size: 40px;
}