#list_bloc{
    margin-left: 150px;
    border: 1px solid grey;
	margin-bottom: 15px;
	width: 750px
}
.bloc_produit{
	border: 1px solid grey;
	padding: 5px;
}
.bloc_sup{
background-color: white;
}
.bloc_sup:hover{
    background-color: #ddd;
}
.img_bloc{
    width: 100px;
    height: 100px;
}
.format_title{
    margin-left: 15px;
    font-size: 20px;
    font-weight: bold;
}
.format_prix{
    margin-left: 15px;
    font-size: 15px;
    font-weight: bold;
}
.desc{
	font-size: 13px;
    margin-left: 15px;
}
#format_btn{
	position: relative;
    margin-left: 75%;
}
#format_btn a{
    color: white;
}
#qty_format{
	text-align: right;
}
#img_trash{
	width: 25px;
	height: 25px;
    right: 20px;
    position: absolute;
}
#img_trash:hover{
	border: 1px solid red;
	background-color: white;
}
