#bloc_sup{
    margin-top: 50px;
    margin-left: 50px;
}
#img_bloc{
    width: 300px;
    height: 300px;
    border: 1px solid black;
}
#format_title{
    margin-left: 15px;
    font-size: 45px;
    font-weight: bold;
}
#oldprix{
    margin-left: 15px;
    font-size: 20px;
    font-weight: bold;
}
#format_prix{
    margin-left: 15px;
    font-size: 40px;
    font-weight: bold;
    color: rgb(255, 81, 0);
}

#format_stock{
    margin-left: 15px;
    font-size: 25px;
    font-weight: bold;
    color: rgb(0, 255, 0);
}
#format_btn{
    position: relative;
    margin-left: 50px;
    bottom: -60px;
}
#desc{
    margin-left: 100px;
    margin-bottom: 50px;
}